@model _24DH111266_MyStore.Models.ViewModel.HomeProductVM

@if (Model.FeaturedProducts != null && Model.FeaturedProducts.Any())
{
    <section class="container-fluid featured-products">
        <h2>Sản Phẩm Nổi Bật</h2>
        <div class="row">
            @foreach (var product in Model.FeaturedProducts)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="product-item">
                        <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                            <img src="@Url.Content(product.ProductImage)" alt="@product.ProductName" class="img-responsive" />
                        </a>
                        <h4>
                            <a href="@Url.Action("ProductDetails", "Home", new { id = product.ProductID })">
                                @product.ProductName
                            </a>
                        </h4>
                        <p class="price">@product.ProductPrice.ToString("N0") VNĐ</p>
                    </div>
                </div>
            }
        </div>
    </section>
}